
html {
  background-image: url("/assets/images/bowling-bg-2.jpg");
  background-size:;
  background-repeat: repeat;
  background-position: center;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
