.footer {
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem 0;
  font-family: 'Passion One', cursive;
  letter-spacing: 2px;
}

.copyright {
  width: 90%;
  margin: 50px auto 0 auto;
  padding-top: 20px;
  border-top: 1px solid rgba(250, 250, 250, .5);
  font-size: 1rem;
}
