.header-bar {
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 2;
}

.bowling-icon__home-btn {
  width: 45px;
  position: relative;
  top: 16px;
  left: 20px;
  float: left;
}

.nav-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 750px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .9);
  opacity: 0;
  width: 100%;
  transition: all ease-in-out .6s;
  display: flex;
  align-items: center;
}

.nav {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.nav--reveal {
  opacity: 1;
  left: 0px;
  transition: all ease-in-out .6s;
}


.nav li {
  font-family: 'Passion One', cursive;
  line-height: ;
  font-size: 1.8rem;
  padding: 1.5rem 0;
  text-shadow: 1px 1px 1px #9A031E;
  text-align: center;
}

.nav li:nth-child(1) {
  position: relative;
  right: ;
}

.header-main {
  text-align: center;
  padding: 1.5rem 1rem;
  margin: 0 5%;
  width: 90%;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  bottom: 50px;
  text-transform: uppercase;
  border-radius: 0px;
}

.header-main h1 {
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 300;
  margin-bottom: 2px;
  text-shadow: 2px 2px 2px #9A031E;
  font-family: 'Passion One', cursive;
}

.book-now {
  font-size: 1rem;
  font-weight: 300;
  background-color: #9A031E;
  display: inline-block;
  padding: .8rem;
  text-shadow: 1px 1px 10px #000;
  border-radius: 0px;
  cursor: pointer;
}

.phone-number {
  margin-top: 10px;
  font-weight: 300;
}




/*-------------------------------------------------------*/
/* Rules for the small screen landscape i.e. smartphones */
/* Rules for the small screen landscape i.e. smartphones */

@media only screen and (min-width: 415px) and (max-width: 740px) {

  .nav li {
    font-size: 2rem;
    padding: 1.5rem 0;
  }

  .header-main {
    width: 50%;
    padding: 1rem;
    margin: 0 25%;
    bottom: 30px;
  }
  .header-main h1 {
    font-size: 4vw;
  }

  .book-now {
    font-size: 2.5vw;
  }
}

/* End of rules for the small screen landscape i.e. smartphones */
/* End of rules for the small screen landscape i.e. smartphones */
/*--------------------------------------------------------------*/

/*---------------------------------------------------------*/
/* Rules for medium to large screens i.e. ipads and desktop*/
/* Rules for medium to large screens i.e. ipads and desktop*/

@media only screen and (min-width: 741px) {

  .nav-menu {
    position: relative;
    top: 1px;
    right: 0px;
    left: -40px;
    bottom: 0px;
    opacity: 1;
    transition: opacity ease-in-out .6s;
    display: block;
  }

  .nav {
    list-style: none;
    float: right;
    width: auto;
    opacity: 1;
    background-color: transparent;
  }

  .nav li {
    float: left;
    font-size: 1.2rem;
    font-family: 'Passion One', cursive;
    letter-spacing: 1px;
    margin-left: 1rem;
    text-shadow: 1px 1px 1px red;
  }

  .header-main {
    width: 50%;
    margin: 0 25%;
  }

  .header-main h1 {
    font-size: 3.2rem;
  }

}

/* Rules for medium to large screens i.e. ipads and desktop*/
/* Rules for medium to large screens i.e. ipads and desktop*/
/*---------------------------------------------------------*/
