.party {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  position: relative;
  top: -16px;
}

.party__title {
  text-align: center;
  margin: 2.5rem 0;
}

.party__container {
  background-color: #9A031E;
  padding-bottom: 50px;
  box-shadow: 1px 1px 100px -25px #000 inset;
}

.party__section-header {
  background-image: url("../../assets/images/party.jpg");
  background-size: cover;
  background-position: center center;
  height: 400px;
  font-size: 2.3rem;
  text-shadow: 2px 2px 2px #9A031E;
  text-align: center;
  padding-top: 4rem;
  font-family: 'Passion One', cursive;
  letter-spacing: 1px;
}

.party__container p {
  padding: 2rem;
  text-align: center;
  line-height: 1.9rem;
  font-size: 1.1rem;
}

.party__btn {
  background-color: #fff;
  text-align: center;
  color: #9A031E;
  width: 270px;
  margin: 0 auto;
  padding: 1rem 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
  font-family: 'Passion One', cursive;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
