.special-offer__wrapper {
  background-color: #FFF9BC;
  background-image: url("../../assets/images/pattern-bg.png");
  padding-top: 2rem;
  padding-bottom: 3rem;
  box-shadow: 1px 1px 100px -25px #000 inset;
}

.special-offer {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.special-offer__headline {
  text-align: center;
  padding: 1rem;
  margin: 0 auto 2rem auto;
  width: 90%;
  font-size: 2.5rem;
  color: #000;
  text-shadow: 1px 1px 5px #fff;
  border-radius: 5px;
  font-family: 'Passion One', cursive;
}

.special-offer__block {
  height: 280px;
  border-radius: 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .9);
  margin-bottom: 30px;
}

.special-offer__festival {
  background-image: url("../../assets/images/halloween.jpg");
  background-size: cover;
  background-position: center center;
}

.special-offer__festival-headings-wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
}

.special-offer__festival-headings {
  display: inline-block;
  font-family: 'Jolly Lodger', cursive;
  color: #000;
  text-shadow: 1px 1px 1px rgba(243, 114, 12, .9);
  letter-spacing: 1px;
  position: relative;
  top: 60px;
  left: 20px;
  font-size: 2rem;
}

.special-offer__festival h2 {
  font-size: 3.5rem;
  transform: rotate(-15deg);
  display: inline-block;
}

.special-offer__festival h3 {
  transform: rotate(-20deg);
}

.special-offer__festival h4 {
  display: inline-block;
  width: 200px;
  text-align: center;
  top: 60px;
  left: 50px;
  transform: rotate(-10deg);
}

.special-offer__festival h5 {
  position: relative;
  top: 70px;
  color: #000;
  text-shadow: 1px 1px 1px rgba(243, 114, 12, .9);
}

.special-offer__kings-offer {
  background-image: url("../../assets/images/crown2.jpg");
  background-size: cover;
  background-position: center center;

}

.special-offer__kings-offer-headings-wrapper {
  width: 280px;
  margin: 0 auto;
  letter-spacing: 1px;
  position: relative;
  top: 10px;
}

.special-offer__kings-offer h2 {
  font-size: 2.3rem;
  padding-bottom: 3rem;
}

.kings {
  position: relative;
  top: 40px;
  right: 30px;
}

.offer {
  position: relative;
  top: 40px;
  left: 140px;
}

.special-offer__kings-offer h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.special-offer__kings-offer h4 {
  font-size: 1.2rem;
  text-align: center;

}

 h5 {
  padding-top: .9rem;
  text-align: center;
}

.special-offer__cosmic-mayhem {
  background-image: url("../../assets/images/cosmic-bg.jpg");
  background-size: cover;
  background-position: center center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  padding: 1rem;
  font-family: 'Passion One', cursive;
  letter-spacing: 1px;
}

.special-offer__cosmic-mayhem h2 {
  margin: .5rem 0;
  font-size: 2.3rem;
}

.special-offer__cosmic-mayhem h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.special-offer__cosmic-mayhem p {
  font-size: 1.3rem;
}

.special-offer__description {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: ;
  text-align: center;
  line-height: 2rem;
  border-top: 1px solid rgba(0, 0, 0, .5);
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  color: #000;
}




/*-----------------------------------------------------------------------*/
/* Rules for the small screen and medium screen i.e. smartphones to ipad */
/* Rules for the small screen and medium screen i.e. smartphones to ipad */

@media only screen and (min-width: 381px) and (max-width: 900px) {

  .special-offer__headline {
    font-size: 2rem;
  }

  .special-offer__festival {
    background-position: center bottom;
  }

  .special-offer__cosmic-mayhem h2 {
    margin: .5rem 0;
    font-size: 2.3rem;
  }

  .special-offer__cosmic-mayhem h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .special-offer__cosmic-mayhem p {
    font-size: 1.3rem;
  }

}

/* End of rules for the small screen landscape medium screen i.e. smartphones to ipad */
/* End of rules for the small screen landscape medium screen i.e. smartphones to ipad */
/*------------------------------------------------------------------------------------*/


/*------------------------------------------------*/
/* Rules for the medium screen i.e. ipad landscape*/
/* Rules for the medium screen i.e. ipad landscape*/

@media only screen and (min-width: 901px) and (max-width: 1030px) {

  .special-offer {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
  }

  .special-offer__headline {
    font-size: 2.2rem;
  }

  .special-offer__block {
    width: 31%;
    height: 270px;
    float: left;
  }

  .special-offer__festival {
    background-position: center bottom;
    margin-right: 30px;
  }

  .special-offer__festival-headings-wrapper {
    width: 330px;
    margin: 0 auto;
    position: relative;
    bottom: 10px;
    right: 10px;
  }

  .special-offer__festival h2 {
    font-size: 3.5rem;
  }

  .special-offer__festival h3 {
    font-size: 2rem;
    top: 70px;
  }

  .special-offer__festival h4 {
    font-size: 1.9rem;
    top: 60px;
  }

  .special-offer__festival h5 {
    top: 60px;
    right: 30px;
  }

  .special-offer__kings-offer {
    margin-right: 30px;
  }

  .special-offer__kings-offer-headings-wrapper {
    width: 95%;
  }

  .special-offer__kings-offer h2 {
    font-size: 2rem;
    position: relative;
    bottom: 0px;
    left: 10px;
  }

  .kings {
    top: 40px;
    right: 30px;
  }

  .offer {
    top: 35px;
    left: 115px;
  }

  .special-offer__kings-offer h3 {
    font-size: 1.3rem;
  }

  .special-offer__kings-offer h4 {
    font-size: 1.1rem;

  }

  .special-offer__kings-offer h5 {
    padding-bottom: 10px;
  }

  .special-offer__description {
    font-size: 1.2rem;
  }

  .special-offer__cosmic-mayhem h2 {
    margin: .5rem 0;
    font-size: 2.2rem;
  }

  .special-offer__cosmic-mayhem h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }

  .special-offer__cosmic-mayhem p {
    font-size: .8rem;
  }

  .special-offer__cosmic-mayhem h5 {

  }


}

/* End of rules for the medium screen i.e. ipad landscape */
/* End of rules for the medium screen i.e. ipad landscape */
/*--------------------------------------------------------*/



/*-----------------------------------------*/
/* Rules for the larger screen i.e desktop */
/* Rules for the larger screen i.e desktop */

@media only screen and (min-width: 1031px) {

  .special-offer {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
  }

  .special-offer__block {
    width: 45%;
    height: 320px;
    float: left;
  }

  .special-offer__festival {
    margin-right: 30px;
  }

  .special-offer__festival-headings-wrapper {
    top: 10px;
  }

  .special-offer__kings-offer {
    margin-right: 30px;
  }

  .special-offer__kings-offer-headings-wrapper {
    left: 10px;
  }

  .special-offer__cosmic-mayhem h2 {
    margin: .5rem 0;
    font-size: 2.6rem;
  }

  .special-offer__cosmic-mayhem h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .special-offer__cosmic-mayhem p {
    font-size: 1.2rem;
  }
}



/* End of rules for the larger screen i.e desktop */
/* End of rules for the larger screen i.e desktop */
/*------------------------------------------------*/
