.special-offer {
  width: 90%;
  height: auto;
  margin: 1rem auto;
}

.special-offer__title {
  text-align: center;
  margin: 2.5rem 0;
}

.special-offer__block {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.special-offer__festival {
  background-image: url("../../assets/images/halloween.jpg");
  background-size: cover;
  background-position: center center;
  margin-bottom: 15px;
  border: 1px solid #f4730b;
  box-shadow: 5px 5px 5px rgba(250, 250, 250, .2);
}

.special-offer__festival-headings {
  display: inline-block;
  font-family: 'Jolly Lodger', cursive;
  color: #000;
  text-shadow: 1px 1px 1px rgba(243, 114, 12, .9);
  letter-spacing: 1px;
  position: relative;
  top: 60px;
  left: 20px;
  font-size: 2rem;
}

.special-offer__festival h2 {
  font-size: 3.5rem;
  transform: rotate(-15deg);
  display: inline-block;
}

.special-offer__festival h3 {
  transform: rotate(-20deg);
}

.special-offer__festival h4 {
  display: inline-block;
  width: 200px;
  text-align: center;
  top: 60px;
  left: 50px;
  transform: rotate(-10deg);
}

.special-offer__kings-offer {
  background-image: url("../../assets/images/crown2.jpg");
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 5px 5px rgba(250, 250, 250, .2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-offer__kings-offer-headings-wrapper {
  font-family: 'Lobster Two', cursive;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px rgb(255, 231, 89);
  border-radius: 10px;
}

.special-offer__kings-offer h2 {
  font-size: 2.3rem;
  padding-bottom: 3rem;
}

.kings {
  position: relative;
  top: 40px;
  right: 45px;
}

.offer {
  position: relative;
  top: 40px;
  left: 100px;
}

.special-offer__kings-offer h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.special-offer__kings-offer h4 {
  font-size: 1.2rem;
  text-align: center;

}

.special-offer__kings-offer h5 {
  padding-top: .9rem;
}
