@keyframes slider {

  0% {
  	left: 0;
  }

  20% {
  	left: 0;
  }

  25% {
  	left: -100%;
  }

  45% {
    left: -100%;

  }

  50% {
  	left: -200%;

  }

  70% {
  	left: -200%;
  }

  75% {
  	left: -300%;
  }

  95% {
  	left: -300%;
  }

  100% {
  	left: -400%;

  }
}

.top-image-slider {
  overflow: hidden;
  position: relative;
}

.slides {
  width: 500%;
  position: relative;
	margin: 0;
	left: 0;
  animation: 20s slider infinite;
}

.slide {
  width: 20%;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.cosmic-bowling {
  background-image: url("../../assets/images/cosmic-bowling.jpg");
}

.bowling-balls {
  background-image: url("../../assets/images/bowling-balls.jpg");
}

.bowling-bar {
  background-image: url("../../assets/images/bowling-bar.jpg");
}

.bowling-pins {
  background-image: url("../../assets/images/bowling-pins.jpeg");
}
